/*
 * Java bean <?name()?>
 * Implementation of interface <?Name?>.
<? generationInfo(' * ')?>
 */

package <?namespace()?>;

import java.util.*;
<?imports()?>
<?javaDoc()?>
<?typeAnnotations()?>
<?visibility()?><?abstract()?> class <?name()?> <?extension()?> <?implementations()?> {

	// Fields
<?
propertyFields()
associationFields()
?>

	// Constructors
<?constructors()?>

	// Accessors
<?
propertyAccessors()
associationAccessors()
?>

	// Operations
<?operations()?>

	// Object methods
<?
equals()
hashcode()
?>
}
